<section>
    <div class="col-12 text-right">
        <div class="cont-unificado">
            <div class="col-md-12 p-0" *ngIf="flagCargando">
                <ngb-progressbar [value]="100" [striped]="true" [animated]="true"></ngb-progressbar>
            </div>
        </div>
    </div>

    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light border-3 border-primary">
                <div class="container-fluid mb-1">
                    <a>
                        <img src="../../../assets/icons/ico/bayer-chiquito.png">
                    </a>
                </div>

                <div id="MenuNavegacion" class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-3">
                        <li class="nav-item">
                            <a class="nav-link active mt-2" style="color: black;" (click)="openDetalleDeCompra(ordenDeCompra, -1);"><b>Carrito</b></a>
                        </li>
                        <!--<li class="nav-item ml-2">
                            <a class="nav-link" style="color: black;"><i class="fa fa-user fa-2x"></i></a>
                        </li>
                        <li class="nav-item mr-2 mt-1">
                            <a class="nav-link" style="color: black;"><b>{{nombreUser}}</b></a>
                        </li> -->
                    </ul>
                    <ul class="navbar-nav ms-3">
                        <li class="nav-item">
                            <a style="color: black;" class="nav-link text-nowrap" (click)="logout();"><i
                                    class="fa fa-user fa-2x"></i><b class="mb-1 ml-1"> User {{nombreUser}}</b></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-3">
                        <li class="nav-item">
                            <a class="nav-link text-nowrap mt-2" style="color: black;"><b>Fecha {{fechaActual}}</b></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-3">
                        <li class="nav-item">
                            <a style="color: black;" class="nav-link text-nowrap" (click)="logout();"><i
                                    class="fa fa-sign-out fa-2x"></i><b class="mb-2 ml-1">Cerrar Sesión</b></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- <br> -->
    <div class="banner-1 mb">
        <img class="imagen-1" src="../../../assets/icons/fondo-catalogo-grande.jpg">
        <label class="texto-encima ml-5"><i>Catalógo en línea</i></label>
    </div>

    <div class="row mb-5">
        <div class="col-12-lg">

            <div class="container">
                <div class="card p-3">
                    <h4 class="text-left" style="color: black;">Buscador en catálogo</h4>
                    <div class="row pb-1 ml-4">
                        <div class="col-lg-3 col-md-3 col-sm-12 text-left">
                            <label for="especie" class="texto-color">Especie</label>
                            <ng-select style="color: #857c85 !important;" placeholder="--Seleccione una opción--"
                                class="form-control form-control-sm" notFoundText="Sin datos!" [clearable]="false"
                                [(ngModel)]="especie" (change)="onChangeEspecies($event);">
                                <!-- <ng-option [value]="0"> </ng-option> -->
                                <ng-option *ngFor="let e of arrayEspecies" [value]="e.id">{{e.nombreEspecie |
                                    lowercase}}
                                </ng-option>
                            </ng-select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 text-left">
                            <label for="tipo" class="texto-color">Tipo</label>
                            <ng-select
                                *ngIf="flagActivoTipo === false || this.flagDesactivoTipo === true || especie === 0 && tipo === null"
                                style="color: #857c85 !important;" placeholder="--Seleccione una opción--"
                                class="form-control form-control-sm" notFoundText="Sin datos!" [clearable]="false"
                                [(ngModel)]="tipo" [disabled]="true">
                                <ng-option>
                                </ng-option>
                            </ng-select>
                            <ng-select *ngIf="flagActivoTipo === true && especie !== 0 || especie > 0"
                                style="color: #857c85 !important;" placeholder="--Seleccione una opción--"
                                class="form-control form-control-sm" notFoundText="Sin datos!" [clearable]="false"
                                [(ngModel)]="tipo" (change)="onChangeTipos($event);">
                                <ng-option *ngFor="let t of arrayTipos" [value]="t.id">{{t.nombreTipo | lowercase}}
                                </ng-option>
                            </ng-select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 text-left">
                            <label for="variedad" class="texto-color">Variedad</label>
                            <ng-select *ngIf="flagActivoVariedad === false && tipo !== 0"
                                style="color: #857c85 !important;" placeholder="--Seleccione una opción--"
                                class="form-control form-control-sm" notFoundText="Sin datos!" [clearable]="false"
                                [(ngModel)]="tipo" [disabled]="true">
                                <ng-option>
                                </ng-option>
                            </ng-select>
                            <ng-select *ngIf="flagActivoVariedad === true || tipo === 0 || tipo > 0"
                                style="color: #857c85 !important;" placeholder="--Seleccione una opción--"
                                class="form-control form-control-sm" notFoundText="Sin datos!" [clearable]="false"
                                [(ngModel)]="variedad" (change)="onChangeVariedades($event);">
                                <ng-option *ngFor="let v of arrayVariedades" [value]="v.id">{{v.nombreVariedad |
                                    lowercase}}
                                </ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <br>
                    <div class="row pb-2 ml-5 col-lg-12">
                        <div class="col-lg-9 col-md-9 col-sm-9 text-left"></div>
                        <div class="col-lg-2 col-md-2 col-sm-2 text-left">
                            <div class="input-group-append">
                                <!--<button class="btn btn-excel mr-4 mt-2 pr-5 pl-5" type="button"
                        triggers="mouseenter:mouseleave"><b>Limpiar</b></button> -->
                                <button *ngIf="especie !== 0" [disabled]="especie === 0 || especie == null"
                                    class="btn btn-buscar mr-4 mt-2 pr-5 pl-5" type="button"
                                    (click)="buscarProductos();" triggers="mouseenter:mouseleave"><b>Buscar</b></button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="card px-2">
                <div class="row pb">
                    <div class="row-tabla">
                        <div class="row p-0">

                            <div class="col-md-12 p-0" *ngIf="flagCargando">
                                <ngb-progressbar [value]="100" [striped]="true" [animated]="true"></ngb-progressbar>
                            </div>
                            <!-- La propiedad footerHeight oculta el pie de la tabla [footerHeight]="50" -->
                            <ngx-datatable style="font-size: 14.5px !important; text-align: center;" class="material"
                                #tabCatalogo [rows]="arrayProductos" [columnMode]="'force'" [rowHeight]="'auto'"
                                [scrollbarH]="false" [reorderable]="true"
                                [messages]="{emptyMessage:'No hay datos en la tabla.'}">

                                <ngx-datatable-column name="Especie" prop="nombreEspecie" [width]="80">
                                    <ng-template ngx-datatable-cell-template let-value="value">
                                        {{value}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Tipo" prop="nombreTipo" [width]="160">
                                    <ng-template ngx-datatable-cell-template let-value="value">
                                        {{value}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Variedad" prop="nombreVariedad" [width]="100">
                                    <ng-template ngx-datatable-cell-template let-value="value">
                                        {{value}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Envase" prop="tipoEnvase" [width]="60">
                                    <ng-template ngx-datatable-cell-template let-value="value">
                                        {{value}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Cantidad" prop="unidadCantidad" [width]="60">
                                    <ng-template ngx-datatable-cell-template let-value="value">
                                        {{value}}
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Precio" prop="precioporUnidad" [width]="80">
                                    <ng-template ngx-datatable-cell-template let-value="value">
                                        {{value}}
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Cantidad" prop="cantidad" [width]="130">
                                    <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                                        <div class="row ml-3">
                                            <div class="col-sm-2">
                                                <button type="button" triggers="mouseenter:mouseleave"
                                                    class="btn btn-danger btn-circle-red"
                                                    (click)="disminuirCantidad(rowIndex)"><b>-</b></button>
                                            </div>
                                            <div class="col-sm-4 ml-4">
                                                <input disabled min="0" (blur)="updateValue($event, rowIndex)"
                                                    (keyup.enter)="updateValue($event, rowIndex)"
                                                    class="form-control text-center" [(ngModel)]="row.cantidad" />
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="button" triggers="mouseenter:mouseleave"
                                                    class="btn btn-success btn-circle"
                                                    (click)="aumentarCantidad(rowIndex)"><b>+</b></button>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Agregar" prop="Agregar" [width]="140">
                                    <ng-template ngx-datatable-cell-template let-row="row" let-value="value"
                                        let-rowIndex="rowIndex">
                                        <div class="input-group-append btn-center mr-3">
                                            <a><button *ngIf="flagActivaCompra === true" class="btn btn-cart-plus"
                                                    placement="left" ngbTooltip="Ver detalle compra"
                                                    triggers="mouseenter:mouseleave"
                                                    (click)="openDetalleDeCompra(ordenDeCompra, rowIndex);">
                                                    <div class="text-center"><i class="fa fa-cart-plus fa-2x"></i></div>
                                                </button></a>
                                            <a><button id="disabled" *ngIf="flagActivaCompra === false"
                                                    class="btn btn-cart-plus" placement="left"
                                                    triggers="mouseenter:mouseleave" [disabled]="true">
                                                    <div class="text-center"><i class="fa fa-cart-plus fa-2x"></i></div>
                                                </button></a>
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="pie">
        <br>
        <br>
        <p><small class="inherit"><b>Valor mínimo de la compra: $500.000 + IVA</b></small></p>
        <p><small>Los precios expresiones NO incluyen impuestos, tasas, ni gastos de transporte.</small></p>
        <p><small>Precios y condiciones de venta están sujetos a variación sin previo aviso.</small></p>
        <p><small>Una vez entregada la semilla, no se aceptan devoluciones.</small></p>
        <p><small>La orden de compra no garantiza la reserva y precio de la semilla.</small></p>
        <br>
    </div>
</footer>

<ng-template #ordenDeCompra>
    <app-detalle-orden (cancelaProductCompra)="recibeResultCarroVacio($event)" (envioCerrarModal)="cerrarModal();"
        (actualizoGrilla)="actualizarGrilla();" [nuevoProductoCarro]="detalleCompra">
    </app-detalle-orden>
</ng-template>