#error {
    background-image: url('../../../assets/img/fondo_nuevo_login.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  .full-height-vh{
    height: 100vh !important;
  }
  
  .porteLetra{
    font-size: 40px;
    color: white !important;
  }